.input:focus {
}

.input {
	width: 370px;
	height: 36px;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
}

.inputWrapper {
	display: flex;
	flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
	border: 2px solid #cc1439;
}

.errorInput:focus {
}

.error {
	color: #cc1439;
	font-size: 15px;
}
