.friendMessage {
	display: flex;
	flex-direction: column;
	padding: 5px;
	align-self: flex-end;
}

.friendImageAndText {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.friendImageAndText img {
	width: 50px;
	margin-right: 15px;
}

.friendText {
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #f5f7fb;
	padding: 8px 15px 8px 13px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: end;
	box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03),
		0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {
	position: absolute;
	content: "";
	border: 0 solid transparent;
	border-bottom-width: 0px;
	border-top-width: 11px;
	border-right: 16px solid #f5f7fb;
	bottom: 0;
	left: -16px;
	box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03),
		0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendName {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	align-self: flex-start;
	color: #000000;
}

.friendMessageText {
	font-weight: 200;
	font-style: normal;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	word-break: break-all;
	white-space: normal;
}

.friendTime {
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	align-self: flex-start;
	padding: 5px 0 0 12px;
	color: #000000;
}
